@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/Inter-VariableFont_slntwght.ttf);
}

.montserrat {
  font-family: "Montserrat";
  color: #e4e5ea;
}

.inter {
  font-family: "Inter";
  color: #e4e5ea;
}

.main-block {
  background-color: #0E1014;
  width: 100vw;
  padding-bottom: 2%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 7.4%;
  margin-top: 5.8%;
}

.logo-text {
  font-size: 10px;
  width: 143px;
  height: 24px;
  margin-top: 0.5%;
}

.menu-important {
  display: flex;
  flex-direction: row;
  margin-left: 4.6%;
}

.text-menu-first {
  font-size: 16px;
  height: 100%;
}

.text-menu {
  font-size: 16px;
  margin-left: 6%;
  height: 100%;
}

.phone {
  font-size: 16px;
  margin-left: 12%;
}

.refs {
  width: 10.5%;
  height: 27.4%;
  margin-left: 4.3%;
}

.main-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 9.6%;
}

.big-text {
  max-width: 362px;
  max-height: 116px;
  font-size: 48px;
}

.big-text-gradient {
  font-family: "Inter";
  max-width: 247px;
  max-height: 58px;
  font-size: 40px;
  background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 58px;
  font-weight: 900;
}

.motivation-text-description {
  max-width: 275px;
  max-height: 44px;
  margin-top: 6px;
  font-size: 18px;
}

.benefits {
  display: flex;
  flex-direction: column;
  text-align: right;
  max-width: 330px;
}

.benefits-main-text {
  font-size: 18px;
  width: 100%;
}

.gradient-text {
  background: linear-gradient(90deg, #fcb045, #fd1d1d), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.benefits-box {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.top-box {
  margin-top: 17.5%;
}

.bot-box {
  margin-top: 13%;
}

.right-box {
  margin-left: 9%;
}

.box-text-header {
  font-size: 18px;
  letter-spacing: 0.05em;
  font-weight: 500;
}


.box-text-content {
  max-width: 165px;
  margin-top: 2.2%;
  font-size: 16px;
}

.button-zone {
  display: flex;
  justify-content: right;
  margin-top: 6.8%;
}

.get-button {
  background-color: #4077f3;
  width: 262px;
  height: 61px;
  border: none;
}

.get-button-text {
  font-size: 16px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 13.8%;
}

.footer-text-header {
  color: #656566 !important;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 700;
}

.about {
  margin-bottom: 10%;
}

.about-list {
  display: flex;
  flex-direction: column;
}

.footer-text-content {
  font-size: 16px;
}

.menu {
  margin-bottom: 5%;
}

.menu-list {
  display: flex;
  flex-direction: row;
}

.menu-list-elements-right {
  margin-left: 52px;
}

.contacts-block {
  text-align: right;
}

.contacts {
  margin-bottom: 8%;
}

.icons-footer {
  margin-top: 11.5%;
  margin-bottom: 10.5%;
}

.footer-text-rights-policy {
  font-size: 12px;
}

.rights {
  margin-top: 33.5%;
}

.red-light {
  position: absolute;
  width: 21.6%;
  height: 31.7%;
  top: 25.6%;
  left: -7%;
  /* width: 311px;
  height: 311px;
  top: 251px;
  left: -102px; */
  background-color: #961a1a;
  border-radius: 50%;
  opacity: 0.5;
  filter: blur(196px);
}

.purple-light {
  position: absolute;
  width: 18%;
  height: 26.4%;
  top: -10.7%;
  left: 41.8%;
  /* width: 259px;
  height: 259px;
  top: -154px;
  left: 602px; */
  background-color: #833ab4;
  border-radius: 50%;
  opacity: 0.5;
  filter: blur(196px);
}

.purple-ball {
  position: absolute;
  width: 4%;
  height: 6%;
  left: 60%;
  top: -0.2%;
  /* width: 60px;
  height: 60px;
  left: 868px;
  top: -2px; */
  border-radius: 50%;
  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(236, 208, 255, 0.64) 0%,
    rgba(161, 93, 207, 0.24) 59.67%,
    rgba(118, 49, 164, 0.208) 78.59%,
    rgba(86, 24, 128, 0.232) 100%
  );
  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(5px);
}

.red-ball {
  position: absolute;
  width: 5.7%;
  height: 8.5%;
  left: 36%;
  top: 8.5%;
  /* width: 83px; */
  /* height: 83px; */
  /* left: 519px; */
  /* top: 83px; */
  border-radius: 50%;
  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(255, 208, 208, 0.536) 0%,
    rgba(212, 93, 93, 0.264) 59.67%,
    rgba(167, 49, 49, 0.248) 78.59%,
    rgba(130, 25, 25, 0.248) 100%
  );
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  filter: blur(2px);
}

.red-ball-mini {
  position: absolute;
  width: 1.94%;
  height: 2.85%;
  left: 59%;
  top: 55.8%;
  /* width: 28px;
  height: 28px;
  left: 851px;
  top: 547px; */
  border-radius: 50%;
  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(255, 208, 208, 0.48) 0%,
    rgba(212, 93, 93, 0.248) 59.67%,
    rgba(167, 49, 49, 0.264) 78.59%,
    rgba(130, 25, 25, 0.232) 100%
  );
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  filter: blur(2.5px);
}
