@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

.montserrat-10 {
  width: 165px;
  height: 24px;
  margin-top: 5px;
  font-family: "Montserrat";
  color: #e4e5ea;
  font-size: 10px;
}

.montserrat-12 {
  width: 165px;
  height: 24px;
  margin-top: 5px;
  font-family: "Montserrat";
  color: #e4e5ea;
  font-size: 12px;
}

.montserrat-12-footer {
  font-family: "Montserrat";
  color: #e4e5ea;
  font-size: 12px;
}

.montserrat-16 {
  width: 165px;
  height: 24px;
  margin-top: 5px;
  font-family: "Montserrat";
  color: #e4e5ea;
  font-size: 16px;
}

.montserrat-18 {
  width: 275px;
  height: 44px;
  margin-top: 6px;
  font-family: "Montserrat";
  color: #e4e5ea;
  font-size: 18px;
}

.inter-14 {
  font-family: "Inter";
  color: #656566;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 5%;
}

.inter-14-about {
  font-family: "Inter";
  color: #656566;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 10%;
}

.inter-14-contacts {
  font-family: "Inter";
  color: #656566;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 8%;
}

.inter-16 {
  font-family: "Inter";
  color: #e4e5ea;
  font-size: 16px;
}

.inter-16-footer {
  font-family: "Inter";
  color: #e4e5ea;
  font-size: 16px;
  margin-bottom: 10px;
}

.inter-16-menu {
  font-family: "Inter";
  color: #e4e5ea;
  font-size: 16px;
  margin-left: 30px;
  height: 19px;
}

.inter-16-phone {
  font-family: "Inter";
  color: #e4e5ea;
  font-size: 16px;
  margin-left: 10%;
}

.inter-18 {
  font-family: "Inter";
  color: #e4e5ea;
  font-size: 18px;
  letter-spacing: 0.05em;
}

.inter-18-no-letter-spacing {
  font-family: "Inter";
  color: #e4e5ea;
  font-size: 18px;
  width: 291px;
  height: 44px;
  text-align: right;
}

.inter-40 {
  width: 247px;
  height: 58px;
  font-family: "Inter";
  font-size: 40px;
  background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 58px;
  font-weight: 900;
}

.inter-48 {
  width: 362px;
  height: 116px;
  font-family: "Inter";
  color: #e4e5ea;
  font-size: 48px;
}

.button-zone {
  display: flex;
  justify-content: right;
  margin-top: 61px;
}

.get-button {
  background-color: #4077f3;
  width: 262px;
  height: 61px;
}

span {
  background: linear-gradient(90deg, #fcb045, #fd1d1d), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.lessRedGrad {
  background: linear-gradient(90deg, #fcb045 27.14%, #fd1d1d 141.36%), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.red-light {
  position: absolute;
  width: 21.6%;
  height: 31.7%;
  top: 25.6%;
  left: -7%;
  background-color: #961a1a;
  border-radius: 50%;
  opacity: 0.5;
  filter: blur(196px);
}

.purple-light {
  position: absolute;
  width: 18%;
  height: 26.4%;
  top: -10.7%;
  left: 41.8%;
  background-color: #833ab4;
  border-radius: 50%;
  opacity: 0.5;
  filter: blur(196px);
}

.purple-ball {
  position: absolute;
  width: 4%;
  height: 6%;
  left: 60%;
  top: -0.2%;
  border-radius: 50%;
  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(236, 208, 255, 0.64) 0%,
    rgba(161, 93, 207, 0.24) 59.67%,
    rgba(118, 49, 164, 0.208) 78.59%,
    rgba(86, 24, 128, 0.232) 100%
  );
  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(5px);
}

.red-ball {
  position: absolute;
  width: 5.7%;
  height: 8.5%;
  left: 36%;
  top: 8.5%;
  border-radius: 50%;
  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(255, 208, 208, 0.536) 0%,
    rgba(212, 93, 93, 0.264) 59.67%,
    rgba(167, 49, 49, 0.248) 78.59%,
    rgba(130, 25, 25, 0.248) 100%
  );
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  filter: blur(2px);
}

.red-ball-mini {
  position: absolute;
  width: 1.94%;
  height: 2.85%;
  left: 59%;
  top: 55.8%;
  border-radius: 50%;
  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(255, 208, 208, 0.48) 0%,
    rgba(212, 93, 93, 0.248) 59.67%,
    rgba(167, 49, 49, 0.264) 78.59%,
    rgba(130, 25, 25, 0.232) 100%
  );
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  filter: blur(2.5px);
}
